<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fake data generator</title>
</head>
<body>
<h1>Welcome to Fake data generator!</h1>
<form action="#" method="post">
    <label>Enter how many entries of fake data you would like to get:</label>
    <div>
        <input type="number" name="num" value="10" min="1" required>
    </div>
    <label>Choose the language of data:</label>
    <select name="language">
        <option value="en">English</option>
        <option value="uk">Ukrainian</option>
        <option value="pl">Polish</option>
        <option value="ja">Japanese</option>
        <option value="sr">Serbian</option>
        <option value="de">German</option>
        <option value="ar">Arabic</option>
        <option value="el">Greek</option>
        <option value="es">Spanish</option>
        <option value="fr">French</option>
        <option value="pt">Portuguese</option>
    </select>
    <br>
    <label>Would you like to add any additional fields?</label>
    <br>
    <input type="checkbox" name="address"> Address
    <input type="checkbox" name="university"> University
    <input type="checkbox" name="country"> Country of Origin
    <input type="checkbox" name="favColor"> Favourite Color
    <br>
    <input type="checkbox" name="favAnimal"> Favourite Animal
    <input type="checkbox" name="email"> Email
    <input type="checkbox" name="job"> Job
    <input type="checkbox" name="car"> Car
    <br>
    <button type="submit">Generate!</button>
</form>

<h1 th:if="${generatedData != null}">Here is data generated for you:</h1>
<table border="1" th:if="${generatedData != null}">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Date of Birth</th>
        <th th:if="${address}">Address</th>
        <th th:if="${university}">University</th>
        <th th:if="${country}">Country of Origin</th>
        <th th:if="${favColor}">Favourite Color</th>
        <th th:if="${favAnimal}">Favourite Animal</th>
        <th th:if="${email}">Email</th>
        <th th:if="${job}">Job</th>
        <th th:if="${car}">Car</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${generatedData.personSet}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.surname}"></td>
        <td th:text="${person.birthDate}"></td>
        <td th:if="${address}" th:text="${person.address}"></td>
        <td th:if="${university}" th:text="${person.university}"></td>
        <td th:if="${country}" th:text="${person.countryOfOrigin}"></td>
        <td th:if="${favColor}" th:text="${person.favoriteColor}"></td>
        <td th:if="${favAnimal}" th:text="${person.favoriteAnimal}"></td>
        <td th:if="${email}" th:text="${person.email}"></td>
        <td th:if="${job}" th:text="${person.job}"></td>
        <td th:if="${car}" th:text="${person.car}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
