<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Generate Test Personal Data</title>
</head>
<body>
<h1>Generate Test Personal Data</h1>
<form action="#" method="post">
    <label>Quantity:</label>
    <input type="number" name="quantity" required>
    <br>
    <label>Language:</label>
    <select name="language">
        <option value="en">English</option>
        <!-- Add other language options -->
    </select>
    <br>
    <label>Add additional fields:</label>
    <input type="checkbox" name="includeAddress"> Address
    <input type="checkbox" name="includeUniversity"> University
    <input type="checkbox" name="includeCountry"> Country
    <!-- Add checkboxes for other additional fields -->
    <br>
    <button type="submit">Generate Data</button>
</form>
</body>
</html>
